/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

line.svelte-jynwjw{stroke:black;stroke-width:1}svg.svelte-jynwjw{position:absolute;top:0;left:0;height:100%;width:100%;z-index:0}svg.svelte-jynwjw:hover{cursor:grab}rect.svelte-jynwjw{fill:#efe9d0;stroke:black;stroke-width:1}.script-node.svelte-jynwjw{fill:black;user-select:none;z-index:1}.script-node-attribute.svelte-jynwjw{fill:gray;font-size:10px;user-select:none;z-index:1}g.svelte-jynwjw:hover{cursor:pointer}.scale-controls.svelte-jynwjw{position:absolute;bottom:0;z-index:100}.scale-controls.svelte-jynwjw button.svelte-jynwjw{width:1.5em}
h4.svelte-1ddsi0n button.svelte-1ddsi0n{font-size:16px}h4.svelte-1ddsi0n{margin-bottom:0px}
button.svelte-teof6y,input.svelte-teof6y,h2.svelte-teof6y{position:relative;z-index:1}h2.svelte-teof6y button.svelte-teof6y{margin-left:5px;font-size:16px}.edit-headline.svelte-teof6y h2.svelte-teof6y{margin-bottom:0}label.svelte-teof6y{display:inline-block}h2.svelte-teof6y small.svelte-teof6y{font-weight:normal;font-size:10px;color:gray}#add-node.svelte-teof6y{position:absolute;bottom:10px;right:10px;margin-bottom:0px}.scroll.svelte-teof6y{width:100%;height:100%;overflow-y:auto}
label.svelte-2yc93h{display:inline-block}.scroll.svelte-2yc93h{width:100%;height:100%;overflow-y:auto}.help-button.svelte-2yc93h{position:absolute;right:10px;top:10px;z-index:10}.help-content.svelte-2yc93h{background-color:white;position:absolute;top:0;left:0;z-index:9;padding:10px;box-sizing:border-box}
h3.svelte-s4qlau button.svelte-s4qlau{margin-left:5px;font-size:16px}.scroll-container.svelte-s4qlau{position:absolute;top:0;left:0;bottom:0;padding-left:10px;box-sizing:border-box;overflow:scroll;width:100%;background-color:#fff}
h3.svelte-1pdo3h9 button.svelte-1pdo3h9{margin-left:5px;font-size:16px}.container.svelte-1pdo3h9{position:absolute;top:0;bottom:0;left:0;padding-left:10px;box-sizing:border-box;overflow:scroll;width:100%;background-color:#fff}img.svelte-1pdo3h9{width:1em;height:1em;object-fit:contain}span.link.svelte-1pdo3h9{color:rgb(0,100,200);text-decoration:none}span.link.svelte-1pdo3h9:hover{cursor:pointer;text-decoration:underline}
#map-container.svelte-1ubk04y{width:100%;max-width:400px;height:300px;position:relative;margin-top:10px;margin-bottom:10px;box-sizing:border-box}#map.svelte-1ubk04y{width:100%;height:100%;box-sizing:border-box;position:relative}
label.svelte-x3mm33{display:inline-block;margin-right:5px}h3.svelte-x3mm33 button.svelte-x3mm33{margin-left:5px;font-size:16px}.container.svelte-x3mm33{position:absolute;top:0;bottom:0;left:0;padding-left:10px;padding-right:10px;box-sizing:border-box;overflow:scroll;width:100%;background-color:#fff}
h3.svelte-1kpsa26 button.svelte-1kpsa26{margin-left:5px;font-size:16px}span.link.svelte-1kpsa26{color:rgb(0,100,200);text-decoration:none}span.link.svelte-1kpsa26:hover{cursor:pointer;text-decoration:underline}
.container.svelte-ki39l6{position:absolute;top:0;bottom:0;left:0;padding-left:10px;box-sizing:border-box;overflow:scroll;width:100%;background-color:#fff}
.info-container.svelte-i7ardu{position:absolute;left:0;top:0;z-index:200;width:100%;height:100%;background-color:#fff;padding:10px;overflow-y:scroll;box-sizing:border-box}button.close.svelte-i7ardu{position:absolute;top:10px;right:10px}span.nl.svelte-i7ardu{margin-right:0.5em}
article.svelte-189sueh{margin:0.5em 0}.right.svelte-189sueh{text-align:right}.system.svelte-189sueh{text-align:center;margin-left:25%;margin-right:25%;background-color:#efefef;border-radius:3px}.system.svelte-189sueh span.svelte-189sueh{width:100%;box-sizing:border-box;font-size:10px;color:gray}label.svelte-189sueh{display:block;font-size:10px;color:gray;margin-bottom:2px;margin-top:2px}span.svelte-189sueh{padding:0.5em 1em;display:inline-block;user-select:none;max-width:100%;word-wrap:break-word;box-sizing:border-box}span.svelte-189sueh img.svelte-189sueh{width:100px;padding-top:5px}.left.svelte-189sueh span.svelte-189sueh{background-color:#eee;border-radius:1em 1em 1em 0}.right.svelte-189sueh span.svelte-189sueh{background-color:#0074D9;color:white;border-radius:1em 1em 0 1em;word-break:break-all}.option.svelte-189sueh{text-align:right}.option.svelte-189sueh span.svelte-189sueh{background-color:yellow;border-radius:1em 1em 0 1em;word-break:break-all}.option.svelte-189sueh:hover{cursor:pointer}
#scanner-container.svelte-ai06e9{height:100%;width:100%;background-color:white;box-sizing:border-box}#outputMessage.svelte-ai06e9{padding:10px;text-align:center;width:100%;box-sizing:border-box}canvas.svelte-ai06e9{width:100%;box-sizing:border-box}
#container.svelte-11hx5sk{height:100%;width:100%;background-color:white;box-sizing:border-box}canvas.svelte-11hx5sk,video.svelte-11hx5sk{width:100%;box-sizing:border-box}
.input-container.svelte-1nguylw{background-color:white;width:100%;padding-left:10px;padding-right:10px;padding-top:10px;position:absolute;bottom:0px;left:0px;box-sizing:border-box;display:flex;border-top:1px solid gray;height:55px}.input-container.svelte-1nguylw button.svelte-1nguylw{margin-right:10px}button.svelte-1nguylw{margin-bottom:10px}button.svelte-1nguylw:hover{cursor:pointer}.close-attachment.svelte-1nguylw{position:absolute;right:0;top:10px}.qr-scanner-container.svelte-1nguylw{position:absolute;top:0;left:0;right:0;bottom:0}.close-qr.svelte-1nguylw{position:absolute;top:5px;right:5px}
button.svelte-ormma5:hover{cursor:pointer}.chat.svelte-ormma5{position:absolute;top:0;left:0;right:0}.chat-authoring.svelte-ormma5{bottom:50px}.chat-player.svelte-ormma5{bottom:0}.scrollable.svelte-ormma5{margin:0 0 10px 0;overflow-y:auto;position:absolute;top:0;bottom:45px;left:0;right:0;padding:5px;padding-top:10px;padding-bottom:10px}.input-container.svelte-ormma5{background-color:white;width:100%;padding-left:10px;padding-right:10px;padding-top:10px;position:absolute;bottom:0px;left:0px;box-sizing:border-box;display:flex;border-top:1px solid gray;height:55px}.input-container.svelte-ormma5 button.svelte-ormma5{margin-right:10px}input.svelte-ormma5{flex:auto;margin-bottom:10px}button.svelte-ormma5{margin-bottom:10px}button.load-more.svelte-ormma5{left:50%;transform:translateX(-50%);position:relative}.chat-debug.svelte-ormma5{position:absolute;bottom:10px;left:10px;font-size:10px}.author-buttons.svelte-ormma5{position:absolute;bottom:5px;right:5px;width:auto;margin-bottom:0px}
#map-container.svelte-1x4yhcd{width:100%;height:100%;position:relative}#map.svelte-1x4yhcd{width:100%;height:100%;position:absolute;left:0;top:0}#locate-button.svelte-1x4yhcd{position:absolute;width:30px;height:30px;right:10px;bottom:120px;padding:5px;box-shadow:2px 2px #ddd;border-radius:2px;background-color:white;font-weight:bold}#locate-button.svelte-1x4yhcd:hover{cursor:pointer
}
#container.svelte-yd4mzp{width:100%;height:100%;position:absolute;left:0;top:0;background-color:#f8f3e3;padding:20px;box-sizing:border-box;padding-top:45px}div.item.svelte-yd4mzp{float:left;width:100px;display:flex;flex-direction:column}div.item.svelte-yd4mzp img.svelte-yd4mzp{height:50px;display:block;margin-left:auto;margin-right:auto}div.item.svelte-yd4mzp span.svelte-yd4mzp{width:100%;text-align:center;display:inline-block}div.item.svelte-yd4mzp:hover{cursor:pointer}
#container.svelte-634jo9{width:100%;height:100%;position:absolute;left:0;top:0;background-color:rgb(0,0,0,0.75);padding:10px;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center;z-index:11}#content.svelte-634jo9{background-color:#fff;width:100%;max-height:100%;position:relative;padding:20px;box-sizing:border-box;flex-grow:0.5;flex-direction:column}#content.svelte-634jo9 img.svelte-634jo9{width:100%;max-height:60%;object-fit:contain}#close.svelte-634jo9{position:absolute;top:10px;right:10px;box-shadow:2px 2px #ddd}
#container.svelte-10wq2jm{width:100%;height:100%;position:absolute;left:0;top:0;background-color:rgb(0,0,0,0.5);padding:40px;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center;z-index:11}#info.svelte-10wq2jm{color:#fff;width:100%;position:relative;padding:20px;box-sizing:border-box;text-align:center}#notification.svelte-10wq2jm{position:absolute;top:10px;width:95%;background-color:#fff;box-sizing:border-box;left:50%;transform:translate(-50%, 0);padding:5px 10px;z-index:12}#notification.svelte-10wq2jm:hover{cursor:pointer}
.click-catch.svelte-8wcnlk{position:absolute;left:0;top:0;width:100%;bottom:0;z-index:11;background-color:rgb(0,0,0, 0.75)}.close-button.svelte-8wcnlk{position:absolute;right:10px;top:10px;box-shadow:2px 2px #ddd}.menu-container.svelte-8wcnlk{position:absolute;left:0;top:0;width:75%;bottom:0;background-color:#fff;padding:20px;box-sizing:border-box;z-index:10;box-shadow:2px 0px gray}.menu-entries.svelte-8wcnlk{padding-top:1em;font-weight:normal}.menu-entries.svelte-8wcnlk h3.svelte-8wcnlk:hover{cursor:pointer}.page-container.svelte-8wcnlk{position:absolute;left:0;top:0;bottom:0;width:100%;background-color:#fff;padding:20px;box-sizing:border-box;z-index:10;overflow-y:scroll}
button.svelte-1qh1r81{color:#999}button.svelte-1qh1r81:disabled,button[disabled].svelte-1qh1r81{color:#000}.main-container.svelte-1qh1r81{position:relative;width:100%;height:100%;box-sizing:border-box}li.svelte-1qh1r81:hover{cursor:pointer}.top-menu.svelte-1qh1r81{height:55px;position:absolute;top:0;left:0;padding:10px;width:100%;box-sizing:border-box;z-index:10}.highlight.svelte-1qh1r81{background-color:lightgreen;border-bottom:1px solid gray}span.breadcrumb.svelte-1qh1r81:hover{cursor:pointer}.menu-buttons-right.svelte-1qh1r81{position:absolute;right:10px;top:10px}.top-menu.svelte-1qh1r81 button.svelte-1qh1r81{box-shadow:2px 2px #ddd}.menu-button.svelte-1qh1r81{margin-right:2px;color:#000}.content-container.svelte-1qh1r81{position:absolute;top:55px;bottom:0;left:0;right:0;box-sizing:border-box;display:flex;flex-direction:column;overflow:scroll}ul.board-select.svelte-1qh1r81{padding:0;margin:0}ul.board-select.svelte-1qh1r81 li.svelte-1qh1r81{list-style:none;padding:15px;border-top:1px solid lightgray;height:2em;line-height:2em}ul.board-select.svelte-1qh1r81 li.svelte-1qh1r81:last-child{border-bottom:1px solid lightgray}
.container.svelte-17c3gbf{height:100%;width:100%;top:0;left:0;position:absolute;box-sizing:border-box}.area.svelte-17c3gbf{position:absolute;padding:10px;box-sizing:border-box}#left.svelte-17c3gbf{top:0;left:0;height:100vh;width:50%;z-index:0}.left-top-menu.svelte-17c3gbf{top:0px;left:0px;background-color:#fff;width:100%;text-align:right;padding:10px 10px 0px 10px;z-index:10;border-bottom:4px solid gray}.left-work-area.svelte-17c3gbf{left:0;top:50px;bottom:0;width:100%}#top-right.svelte-17c3gbf{width:50%;overflow-y:auto;top:0;right:0;border-left:4px solid gray;padding-bottom:2em}.horizontal-divider.svelte-17c3gbf{position:absolute;bottom:0;left:0;width:100%;background-color:#fff;border-top:2px solid gray;border-bottom:2px solid gray;z-index:200;padding:5px;font-size:80%;text-align:right;box-sizing:border-box}.horizontal-divider.svelte-17c3gbf:hover{cursor:ns-resize}#bottom-right.svelte-17c3gbf{width:50%;position:absolute;bottom:0;right:0;border-left:4px solid gray;box-sizing:border-box}
.project-title.svelte-174uc35{position:absolute;z-index:20;text-align:left}.project-title.svelte-174uc35 button.svelte-174uc35{vertical-align:top;margin-left:5px}h2.svelte-174uc35{display:inline-block;margin:0px;margin-top:3px}#toggle-attachment-manager.svelte-174uc35{margin-right:10px}.h100.svelte-174uc35{height:100%;width:100%;box-sizing:border-box}a.svelte-174uc35{color:gray;padding-left:1px;margin-bottom:10px;position:relative;font-size:10px;font-weight:normal}
button.svelte-1gedj1k{z-index:1;position:relative}
span.svelte-f6fctu:hover{cursor:pointer}span.svelte-f6fctu{color:gray;padding-left:1px;margin-bottom:10px;position:relative;font-size:10px;font-weight:normal}
