/*
 *  Fonts
 */

@font-face {
  font-family: "EurostyleLTStd";
  font-weight: normal;
  src: url("/assets/fonts/EurostileLTStd.otf") format("opentype");
}

@font-face {
  font-family: "EurostyleLTStd";
  font-weight: bold;
  src: url("/assets/fonts/EurostileLTStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "EurostyleLTStd-Ex2";
  font-weight: bold;
  src: url("/assets/fonts/EurostileLTStd-BoldEx2.otf") format("opentype");
}

@font-face {
  font-family: "EurostyleLTStd";
  font-weight: 300;
  src: url("/assets/fonts/EurostileLTStd-Cn.otf") format("opentype");
}

/*
 *  Variables
 */


:root {
  --color-bright: #FFFCF6;
  --color-blue: #EAFEFF;
  --color-orange: #FF7758;
  --color-dark: #2B100D;
  --color-dark-shade: #2B100D77;
  --color-dark-inactive: #2B100D4a;

  --color-white-bright: #FFFEFD;
  --color-blue-dark: #D2E8EB; 
  --color-blue-2: rgb(202,215,216);

  --letter-spacing-bold: 2px;

  --bubble-border-radius: 12px;
}

/*
 *  General styles
 */

.main-container {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
  background-color: var(--color-bright);
  font-family: "EurostyleLTStd", sans-serif;

  color: var(--color-dark);
  border-color: var(--color-dark);
  padding:0; margin:0

}

.main-container {
  color: var(--color-dark);
  border-color: var(--color-dark);
  padding:0; margin:0
}

.main-container  ul, .main-container ol {
  list-style-type: none;
}

.main-container a {
  color: rgb(0,100,200);
  text-decoration: none;
}

.main-container a:hover {
  text-decoration: underline;
}

.main-container a:visited {
  color: rgb(0,80,160);
}

.main-container button {
  border: 1px solid var(--color-dark);
  border-radius: var(--bubble-border-radius);
  font-size: 15px;
  line-height: 16px;
  padding: var(--bubble-border-radius);
}

img.spinner {
  width: 100%;
  height: calc(1em + 30px);
  object-fit: contain;
}

button {
  cursor: pointer;
  background-color: var(--color-bright);
  /*font-weight: bold;
  letter-spacing: var(--letter-spacing-bold);*/
}

button.inverted {
  background-color: var(--color-dark);
  color: var(--color-bright);
}
